@using System.Data.Entity
@using System.Web.Mvc.Html
@using OroCampo.Models.Database
@using OroCampo.WebSite.Controllers
@model OroCampo.WebSite.Models.BlogPostModel

@Html.Partial("CheckIfAuthenticated")

<div class="jumbotron margin-top-25">
    <h1>@Resourse.blog_post</h1>
    <p class="lead">@Resourse.blog_post_first_text</p>
    <hr>
    <p>@Resourse.blog_post_second_text</p>
    @*<hr>*@

    @using (Html.BeginForm("SaveBlogPost", "Admin", FormMethod.Post, new { role = "form", id = "saveBlogPostForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="blogPostName">@Resourse.blog_post_name</label>
            @Html.TextBoxFor(m => m.NewTitleBlogPost, new { id = "blog_postName", @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <label for="edit">@Resourse.text_blog</label>
            <div id="editor">
                @Html.TextAreaFor(m => m.NewTextBlogPost, new { id = "edit", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label for="file">@Resourse.picture_file</label> <br />
            <div class="col-12" style="width: 100%; ">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            @Resourse.open_image&hellip;
                            @Html.TextBox("file", "File", new { id = "file", type = "file", style = "display: none;" })
                            @Html.ValidationMessageFor(model => model.NewPhotoBlogPost)
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>@Resourse.image_preview</label><br />
            <img id="blah" src="../preview.png" height="150" width="200" />
        </div>

        <button type="submit" class="btn btn-success">@Resourse.button_insert</button>

    }
</div>

@if (Model.Message != null)
{
    if (Model.Success)
    {
        <div class="alert alert-success" name="alert" role="alert">@Model.Message</div>
    }
    else
    {
        <div class="alert alert-danger" name="alert" role="alert">@Model.Message</div>
    }
}

@if (Model.BlogPosts != null && Model.BlogPosts.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="row">@Resourse.number</th>
                <th class="text-center" scope="row">@Resourse.column_icon</th>
                <th class="text-center" scope="col">@Resourse.column_title_blog_post</th>
                <th class="text-center" scope="col">@Resourse.blog_post_text</th>
                <th class="text-center" scope="col">@Resourse.column_actions</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.BlogPosts.Count; i++)
            {
                var temp = Model.BlogPosts[i];
                var count = i + 1;
                <tr>
                    <th class="text-center" scope="row"> @count</th>
                    <td class="text-center"><img src="data:image/png;base64, @temp.Photo" alt="" border=3 height=150 width=250 /> </td>
                    <td class="text-center">@temp.Title</td>
                    <td class="text-center">
                        <div style="width: 250px; height: 200px; word-wrap: break-word; overflow: hidden;">
                            @Html.Raw(@temp.Text)
                        </div>
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteBlogPost", "Admin", new { id = temp.Id }, FormMethod.Get, new { role = "form", id = "deleteBlogPostForm" }))
                        {
                            <button type="submit" class="btn btn-danger">@Resourse.button_delete</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="jumbotron margin-top-25">
        <h2 class="text-center">@Resourse.blog_post_no_available</h2>
    </div>
}