@model OroCampo.WebSite.Models.PhotoCategoryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SavePhotoCategory", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "saveProgramForm" }))
{
    @Html.AntiForgeryToken()
    <h2>Διαχείρηση των κατηγοριών για τις φωτογραφίες</h2>

    @Html.Label("Κατηγορία Φωτογραφίας")
    <text>&ensp;</text>
    @Html.TextBoxFor(m => m.NewPhotoCategoryName)
    <input type="submit" value="Submit" />
    @*<button type="submit" id="submitProgramForm" class="btn btn-primary waves-effect w-md waves-light m-b-5">*@
}


@*<form action="/OroCampo.WebSite/Admin/SavePhotoCategory" class="form-horizontal" id="saveProgramForm" method="post" role="form">
        <h2>Add a category name</h2>
        <label for="NewPhotoCategoryName">NewPhotoCategoryName</label>
        <input id="NewPhotoCategoryName" name="NewPhotoCategoryName" type="text" value="">
        <input type="submit" value="Submit">
    </form>*@

@if (Model.PhotoCategories != null && Model.PhotoCategories.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">Id</th>
                <th scope="col">Όνομα κατηγορίας</th>
                <th scope="col">Ενέργιες</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.PhotoCategories.Count; i++)
            {
                var temp = Model.PhotoCategories[i];

                <tr>
                    <th scope="row">@i</th>
                    <td>@temp.Name</td>
                    <td><button type="button" class="btn btn-danger">Διαγραφή</button></td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <h1>Δεν υπάρχουν κατηγορίες φωτογραφιών</h1>
}