@using System.Data.Entity
@using System.Web.Mvc.Html
@using OroCampo.Models.Database
@using OroCampo.WebSite.Controllers
@model OroCampo.WebSite.Models.PhotoModel

@Html.Partial("CheckIfAuthenticated")

<div class="jumbotron margin-top-25">
    <h1>@Resourse.photo</h1>
    <p class="lead">@Resourse.photo_first_text</p>
    <hr>
    <p>@Resourse.photo_second_text</p>
    @*<hr>*@

    @using (Html.BeginForm("SavePhoto", "Admin", FormMethod.Post, new { role = "form", id = "savePhotoForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="edit">@Resourse.description</label>
            <div id="editor">
                @Html.TextAreaFor(m => m.PhotoDescription, new { id = "edit",  @class = "form-control", rows = 30, @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label>@Resourse.category_photo</label>
            @Html.DropDownListFor(model => model.PhotoCategoryId, Model.Categories, @Resourse.category, new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <label for="file">@Resourse.picture_file</label> <br />
            <div class="col-12" style="width: 100%; ">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            @Resourse.open_image&hellip;
                            @Html.TextBox("file", "File", new { id = "file", type = "file", style = "display: none;" })
                            @Html.ValidationMessageFor(model => model.PhotoData)
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>@Resourse.image_preview</label><br />
            <img id="blah" src="../preview.png" height="150" width="200" />
        </div>

        <button type="submit" class="btn btn-success">@Resourse.button_insert</button>

    }
</div>

@if (Model.Message != null)
{
    if (Model.Success)
    {
        <div class="alert alert-success" name="alert" role="alert">@Model.Message</div>
    }
    else
    {
        <div class="alert alert-danger" name="alert" role="alert">@Model.Message</div>
    }
}

@if (Model.Photos != null && Model.Photos.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="row">@Resourse.number</th>
                <th class="text-center" scope="row">@Resourse.column_icon</th>
                <th class="text-center" scope="col">@Resourse.category_photo</th>
                <th class="text-center" scope="col">@Resourse.description_photo</th>
                <th class="text-center" scope="col">@Resourse.column_actions</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Photos.Count; i++)
            {
                var temp = Model.Photos[i];
                var count = i + 1;

                <tr>
                    <th class="text-center" scope="row" style="vertical-align: middle;">@count</th>
                    <td class="text-center" style="vertical-align: middle;"><img src="data:image/png;base64, @temp.PhotoData" alt="" border=3 height=150 width=250 /> </td>
                    <td class="text-center" style="vertical-align: middle;"> @temp.PhotoCategoryName</td>
                    <td class="text-center" style="vertical-align: middle;">
                        <div style="width: 250px; height: 200px; word-wrap: break-word; overflow: hidden;">
                            @Html.Raw(@temp.Description)
                        </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        @using (Html.BeginForm("DeletePhoto", "Admin", new { id = temp.Id }, FormMethod.Get, new { role = "form", id = "deletePhotoForm" }))
                        {
                            <button type="submit" class="btn btn-danger">@Resourse.button_delete</button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="jumbotron margin-top-25">
        <h2 class="text-center">@Resourse.photos_no_available</h2>
    </div>
}