@using System.Data.Entity
@using System.Web.Mvc.Html
@using OroCampo.Models.Database
@using OroCampo.WebSite.Controllers
@model OroCampo.WebSite.Models.ProductModel

@Html.Partial("CheckIfAuthenticated")

<div class="jumbotron margin-top-25">
    <h1>@Resourse.product</h1>
    <p class="lead">@Resourse.product_first_text</p>
    <hr>
    <p>@Resourse.product_second_text</p>
    @*<hr>*@

    @using (Html.BeginForm("SaveProduct", "Admin", FormMethod.Post, new { role = "form", id = "saveProductForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.ProductId)
        @Html.HiddenFor(m => m.Photo)

        <div class="form-group">
            <label for="productName">@Resourse.product_name</label>
            @Html.TextBoxFor(m => m.Name, new { id = "productName", @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <label for="edit">@Resourse.description</label>
            <div id="editor">
                @Html.TextAreaFor(m => m.Description, new { id = "edit", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label>@Resourse.product_category</label>
            @Html.DropDownListFor(model => model.ProductCategoryId, Model.Categories, @Resourse.category, new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <label for="file">@Resourse.picture_file</label> <br />
            <div class="col-12" style="width: 100%; float: none;">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            @Resourse.open_image&hellip;
                            @Html.TextBox("file", "File", new { id = "file", type = "file", style = "display: none;" })
                            @Html.ValidationMessageFor(model => model.Photo)
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>@Resourse.image_preview</label><br />
            @if (Model.Photo != null)
            {
                <img id="blah" src="data:image/png;base64, @Model.Photo" height="150" width="200" />
            }
            else
            {
                <img id="blah" src="../preview.png" height="150" width="200" />
            }
        </div>

        if (Model.ProductId != default(Guid))
        {
            <div class="panel-body">
                <div class="btn-group">
                    <button type="submit" class="btn btn-warning ">Ενημέρωση</button>
                </div>
                <div class="btn-group pull-right">
                    <div class="pull-right">
                        @Html.ActionLink("Ακύρωση Ενημέρωσης", "ManagementProduct", "Admin", new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <button type="submit" class="btn btn-success">@Resourse.button_insert</button>
        }
    }

</div>

@if (Model.Message != null)
{
    if (Model.Success)
    {
        <div class="alert alert-success" name="alert" role="alert">@Model.Message</div>
    }
    else
    {
        <div class="alert alert-danger" name="alert" role="alert">@Model.Message</div>
    }
}

@if (Model.Products != null && Model.Products.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="row">@Resourse.number</th>
                <th class="text-center" scope="row">@Resourse.column_icon</th>
                <th class="text-center" scope="col">@Resourse.column_name_product</th>
                <th class="text-center" scope="col">@Resourse.product_category</th>
                <th class="text-center" scope="col">@Resourse.product_description</th>
                <th class="text-center" scope="col">@Resourse.column_actions</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                var temp = Model.Products[i];
                var count = i + 1;
                <tr>
                    <th class="text-center" scope="row" style="vertical-align: middle;"> @count</th>
                    <td class="text-center" style="vertical-align: middle;"><img src="data:image/png;base64, @temp.Photo" alt="" height=150 width=250 /> </td>
                    <td class="text-center" style="vertical-align: middle;">@temp.Name</td>
                    <td class="text-center" style="vertical-align: middle;"> @temp.ProductCategoryName</td>
                    <td class="text-center" style="vertical-align: middle;">
                        <div style="width: 250px; height: 200px; word-wrap: break-word; overflow: hidden;">
                            @Html.Raw(@temp.Description )
                        </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                        @using (Html.BeginForm("EditProduct", "Admin", new { id = temp.Id }, FormMethod.Get, new { role = "form", id = "editProductForm" }))
                        {
                            <div class="panel-body">
                                <button type="submit" class="btn btn-warning btn-block">Αλλαγή</button>
                            </div>
                        }
                        @using (Html.BeginForm("DeleteProduct", "Admin", new { id = temp.Id }, FormMethod.Get, new { role = "form", id = "deleteProductForm" }))
                        {
                            <div class="panel-body">
                                <button type="submit" class="btn btn-danger btn-block">@Resourse.button_delete</button>
                            </div>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="jumbotron margin-top-25">
        <h2 class="text-center">@Resourse.product_no_available</h2>
    </div>
}